/* @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700;800&family=IBM+Plex+Mono:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Writing CSS like these was just a hard fix to the problem of MaterialUI not inheriting styles and I need everything on web5 page to have a font-family */
.web5 p,
.web5 button,
.web5 h2,
.web5 input,
.web5 li,
.web5 label,
.web5 span {
  font-family: 'IBM Plex Mono', monospace;
}

#web5ActionButton {
  color: #181818;
  background-color: #ffec19;
  border-bottom: 4px solid #000;
  border-right: 4px solid #000;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
  border-radius: 0;
  box-shadow: none;
}
.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1200px;
}

/* @media(min-width: 1300px) {
  .container {
    width: 1200px;
  }
} */
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
body,
html {
  overflow-x: hidden;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
@keyframes herosection {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes community {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes resume {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes error {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.border {
  border-radius: 9px;
}
